<h1>Sign in</h1>

  <%= form_for @user, url: "/sessions", 
                      method: "post" do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Username" %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password_digest, placeholder: "Password" %>
  </div>

  <%= f.submit "Sign me in >=D" %>

  <%end%>